.c-sis-gradient-accent {
  margin-top: 15px;
  display: block;
  width: 100%;
  padding-bottom: 10%;
  background-color: $navLinksColour;
  background: linear-gradient(to bottom right, #e9e685, $navLinksColour);
}
